<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cart</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    tr,
    td {
      vertical-align: middle;
      text-align: center;
    }

    img {
      width: 100px;
      height: 120px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <table class="table table-hover table-bordered">
          <caption class="h2 text-center text-warning">购物车</caption>
          <tr>
            <th>all
              <input type="checkbox" v-model="checkall" @change="checkAll">
            </th>
            <td>merchandise</td>
            <td>price</td>
            <td>quantity</td>
            <td>subtotal</td>
            <td>operation</td>
          </tr>
          <tr v-for="(m,i) in merchandise">
            <td>
              <input type="checkbox" v-model="m.isSelected" @change="checkOne">
            </td>
            <td>
              <img :src="m.mCover" :title="m.mName">
            </td>
            <td>
              {{m.mPrice}}
            </td>
            <td>
              <input type="number" v-model="m.mQuantity" min="0" max="10">
            </td>
            <td>
              {{m.mQuantity*m.mPrice | toFixed(2)}}
            </td>
            <td>
              <button class="btn btn-danger" @click="remove(m)">remove</button>
            </td>
          </tr>
          <tr>
            <td colspan="6">total price: {{sum() | toFixed(2)}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      filters: {
        toFixed(input, param) {
          return "$" + input.toFixed(param);
        }
      },
      created() {
        this.getData();
      },
      methods: {
        getData() {
          axios.get('json/carts.json').then(res => {
            this.merchandise = res.data;
            this.checkOne();
          }, err => {
            console.log(err);
          })
        },
        checkOne() {
          this.checkall = this.merchandise.every(item => item.isSelected)
        },
        checkAll() {
          this.merchandise.forEach(item => {
            item.isSelected = this.checkall;
          })
        },
        remove(m) {
          this.merchandise = this.merchandise.filter(item => item !== m);
        },
        sum() {
          return this.merchandise.reduce((prev, next) => {
            if (!next.isSelected) {
              return prev;
            }
            return prev + next.mPrice * next.mQuantity;
          }, 0)
        }
      },
      data: {
        merchandise: [],
        checkall: false
      }
    });
  </script>
</body>

</html>