html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.stage {
    width: 100%;
}

.demo {
    margin: 0 30px;
}

ul,
li {
    list-style: none;
}

img {
    width: 280px;
    height: 250px;
}

h1 ,p{
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
ul li {
    margin: 20px 5px;
}