<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>修饰符</title>
</head>

<body>
  <div id="app">
    <!-- modifiers 键盘修饰符 -->
    <input type="text" v-model="val" @keyup.enter="add">
    <ul>
      <li v-for="(n,i) in arr">
        {{n}}
        <button @click="remove(i)"> X </button>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <script>
    let vm = new Vue({
      el: '#app',
      methods: {
        add(e) {
          // 可以用修饰符代替 
          /* if (e.keyCode === 13) {
            this.arr.push(this.val);
            this.val = '';
          } */
          this.arr.push(this.val);
          this.val = '';
        },
        remove(i) {
          this.arr = this.arr.filter((item, index) => index !== i)
        }
      },
      data: {
        arr: [],
        val: ''
      }
    })
  </script>
</body>

</html>