<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>通过 Prop 向子组件传递数据</title>
</head>

<body>
  <div id="app">
    <blog-post title="My journey with Vue"></blog-post>
    <blog-post title="Blogging with Vue"></blog-post>
    <blog-post title="Why Vue is so fun"></blog-post>
  </div>
  <div id="app1">
    <hr>
    <blog-post v-for="post of posts" :key="post.id" :title="post.title"></blog-post>
  </div>
  <div id="app2">
    <hr>
    <blog-posts v-for="post of posts" :key="post.id" :post="post"></blog-posts>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    // Prop 是在组件上注册的一些自定义特性。当一个值传递给一个 prop 特性的时候，它就变成了那个组件实例的一个属性。
    // 一个 prop 被注册之后，你就可以像这样把数据作为一个自定义特性传递进来
    Vue.component('blog-post', {
      props: ['title'],
      template: '<h3>{{title}}</h3>'
    })
  </script>
  <script>
    Vue.component('blog-posts', {
      props: ['post'],
      template: `
      <div>
        <h3>{{post.title}}</h3>
        <div v-html="post.content"></div>
        <div>{{post.publishedAt}}</div>
        <div>{{post.comments}}</div>
      </div>
      `
    })
  </script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {}
    })
  </script>
  <script>
    let vmm = new Vue({
      el: '#app1',
      data: {
        posts: [
          { id: 1, title: "My journey with Vue" },
          { id: 2, title: "Blogging with Vue" },
          { id: 3, title: "Why Vue is so fun" }
        ]
      }
    })
  </script>
  <script>
    let vmmm = new Vue({
      el: '#app2',
      data: {
        posts: [
          { id: 1, title: "My journey with Vue",content:'<div><p>hello</p><p>world</p></div>', publishedAt:"2018-6-26",comments:[{jack:'good'},{mark:'very good'}]},
          { id: 2, title: "Blogging with Vue" ,content:'<div><p>hello</p><p>world</p></div>', publishedAt:"2018-6-27",comments:[{jack:'good'},{mark:'very good'}]},
          { id: 3, title: "Why Vue is so fun" ,content:'<div><p>hello</p><p>world</p></div>', publishedAt:"2018-6-28",comments:[{jack:'good'},{mark:'very good'}]}
        ]
      }
    })
  </script>

</body>

</html>