.Comment{
	width: 250px;
	padding: 16px;
	border: 1px dashed #000000;
	margin: 30px auto;
	box-shadow:1px 1px 1px 0 inset #97bbf1,2px 2px 0 0 #9e9e9e,4px 4px 1px 1px #6c6c6c,8px 8px 2px 2px #3a3a3a;
	border-radius:15px 5px 15px 5px;
}

.UserInfo{
	margin-bottom: 15px;
	text-align: center;
}

.Avatar{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.UserInfo-name{
	font-size: 20px;
	font-weight: bold;
}

.Comment-text{
	font-style: italic;
	margin-bottom: 10px;
}

.Comment-date{
	text-align: right;
	color:gray;
}
