<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>select "&" radio</title>
  <style>
  </style>
</head>

<body>
  <div id="app">
    <!-- radio 通过 v-model 进行分组，同上， value 值会赋给变量 -->
    <input type="radio" v-model="g" value="man">man
    <input type="radio" v-model="g" value="woman">woman
    <br/> picked: {{g}}
    <hr>
    <!--  单选，绑定到字符串 -->
    <select v-model="selected">
      <!-- 没有指明 value 值，则使用 option 标签对之间的值；指示项（不参与选择）使用 disabled 属性  -->
      <option disabled value="">选择</option>
      <option>vue</option>
      <option>react</option>
      <option>ang</option>
    </select>
    <!-- selected 若是空字符串，则第一个 option 会被当成默认地显示 -->
    <!-- selected 若是数组，没有显示（） -->
    <br/> Selected: {{selected}}
    <hr/>
    <!-- 多选，绑定到数组 -->
    <!--  multiple 将选项一次展开 -->
    <select v-model="selecteda" multiple>
      <option disabled value="">选择</option>
      <option>vue</option>
      <option>react</option>
      <option>ang</option>
    </select>
    <br/> Selected: {{selecteda}}
    <hr/>
    <select v-model="selectedd">
      <option v-for="option in options" :value="option.value">
        {{ option.text }}
      </option>
    </select>
    <span>Selected: {{ selectedd }}</span>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        g: 'man',
        selected: '',
        selecteda: [],
        selectedd:'A',
        options: [
          { text: 'One', value: 'A' },
          { text: 'Two', value: 'B' },
          { text: 'Three', value: 'C' }
        ]
      }
    })
  </script>
</body>

</html>