<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>传递静态或动态 Prop</title>
</head>

<body>
  <div id="app">
    <!-- 给 prop 传入一个静态的值 -->
    <blog-post title="My journey with vue"></blog-post>
    <!-- 通过 v-bind 动态赋值 -->
    <blog-post v-for="post of posts" :key="post.id+'title'" :title="post.title"></blog-post>
    <hr>
    <!-- 传入一个数字 -->
    <blog-post :likes="42"></blog-post>
    <blog-post v-for="post of posts" :key="post.id" :likes="post.likes"></blog-post>
    <hr>
    <!-- 传入一个布尔值 -->
    <!-- 包含该 prop 没有值的情况在内，都意味着 `true`。-->
    <blog-post is-published></blog-post>
    <!-- 即便 `false` 是静态的，我们仍然需要 `v-bind` 来告诉 Vue，这是一个 JavaScript 表达式而不是一个字符串。-->
    <blog-post :is-published="true"></blog-post>
    <blog-post v-for="(post,index) of posts" :key="post.id+'publish'" :is-published="post.isPublished"></blog-post>
    <hr>
    <!-- 传入一个数组 -->
    <blog-post :comment-ids="[7,11,11]"></blog-post>
    <blog-post v-for="(post,index) of posts" :key="post.id+'comment'" :comment-ids="post.commentIds"></blog-post>
    <hr>
    <!-- 传入一个对象 -->
    <blog-post :author="{ name: 'Veronica', company: 'Veridian Dynamics' }"></blog-post>
    <blog-post v-for="(post,index) of posts" :key="post.id+'author'" :author="post.author"></blog-post>
    <hr>
    <!-- 传入一个对象的所有属性 -->
    <blog-post v-for="(post,index) of posts" :key="post.id+'post'" v-bind="post"></blog-post>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    Vue.component('blog-post', {
      props: {
        title: String,
        likes: Number,
        isPublished: Boolean,
        commentIds: Array,
        author: Object
      },
      template: `
      <div>
        <p>{{title}}</p>
        <p>{{likes}}</p>
        <p is-published="is-published">{{isPublished?isPublished:null}}</p>
        <p>{{commentIds}}</p>
        <p>{{author}}</p>
      </div>
      `

    })

  </script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        posts: [
          { id: 1, title: 'test1', likes: 156, isPublished: true, commentIds: [1, 3, 5], author: { name1: 'richyu', name2: 'richyu', name3: 'richyu' } },
          { id: 2, title: 'test2', likes: 157, isPublished: true, commentIds: [5, 6, 9], author: { name1: 'richyu', name2: 'richyu', name3: 'richyu', name4: 'richyu' } },
          { id: 3, title: 'test3', likes: 158, isPublished: false, commentIds: [7, 1, 1], author: { name: 'richyu' } }
        ]
      }
    })
  </script>

</body>

</html>