<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>值绑定</title>
</head>

<body>
  <div id="app">
    <!-- 有时我们可能想把值绑定到 Vue 实例的一个动态属性上，这时可以用 v-bind 实现，并且这个属性的值可以不是字符串。 -->
    <input type="checkbox" v-model="toggle" true-value="yes" false-value="no">
    <hr>
    <input type="radio" v-model="pick" :value="a">
    <hr>
    <select v-model="selected">
      <option :value="{number:123}">123</option>
      <option :value="{number:456}">456</option>
      <option :value="{number:789}">zxc</option>
    </select>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        toggle:'',
        pick:true,
        a:false,
        selected:''
      }
    })
  </script>
</body>

</html>
