@import url('../../../styles/normalize.css');

html, body {
  width: 100%;
  min-width: 1080px;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

h1 {
  height: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  /* font-size: 36px; */
}

ul, ol, li {
  list-style-type: none;
}

ul, ol {
  padding: 0;
}

.btns {
  width: 100%;
  height: 40px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

.btns button {
  cursor: pointer;
  margin-right: 10px;
}

.btns button:last-child {
  margin: 0;
}

.container {
  height: 500px;
  padding: 20px 100px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
}

.animate_content {
  flex: 1 1 auto;
  box-sizing: border-box;
  min-width: 360px;
  height: 100%;
  padding: 40px 0;
  background: #dfdfdf;
}

.animate {
  display: flex;
  flex-direction: column-reverse;
  width: 120px;
  height: 100%;
  margin: auto;
  border-width: 0 8px 8px 8px;
  border-style: outset;
  border-color: #00BFFF;
  border-radius: 5px;
}

.animate_item {
  height: 30px;
  line-height: 1.5;
  margin: 10px 0 0 0;
  border: 5px solid #008080;
  border-radius: 5px;
  background: #D4F2E7;
  text-align: center;
  position: relative;
  /* animation: push-item 2s ease-out; */
}

.syntx_content {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 360px;
  height: 100%;
  padding: 20px 30px;
  border-left: 1px dashed #666;
  background: #dfdfdf;
  font-size: 24px;
  text-align: center;
}

.syntx_content code {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 36px;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #efefef;
  border-radius: 5px;
  /* animation: ligh-syntx 2s ease-out; */
}

/* @keyframes ligh-syntx {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes push-item {
  from {
    transform: translate(0, -400px);
  }

  to {
    transform: translate(0, 0);
  }
} */
